
body {
    font-family: "lato";
    margin: 40px auto;
    background-color: black;
    }
    h1 {
    font-family: "playfair display";
    text-transform: uppercase;
    color: white;
    }
    .magazine-title {   
    position: absolute;
    bottom: 200px; 
    left: 60px; 
    text-transform: uppercase;
    font-family: "lato";
    color: white;
    font-weight: 400;
    }
    .welcome-title {
    position: absolute;
    bottom: 20px;
    left: 60px;
    font-family: "lato";
    color: white;
    font-weight: 500;
    font-size: 3rem;
    }
    .meet-locals {
    color: white;
    font-family: "lato";
    font-weight: 500;
    }
    .tour-description {
    font-family: "lato";
    color: white;
    font-weight: 500;
    
    }
    header.container {
    position: relative;
    background-image: url(../images/milky-way.jpg);
    background-repeat: no-repeat;
    align-items: center;
    width: 100%;
    height: auto;
    align-items: center;
    background-size: cover;
    }
nav {
  position: absolute;
  top: 10px;
  right: 20px;
}
nav ul {
  display: flex;
  gap: 50px;
}
nav ul li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
}
nav ul li a:hover {
  background-color: blue;
  }
.planets {
     display: grid;
     grid-template-rows: 100px 100px 100px 100px 100px 100px;
     grid-template-columns: 20% 20% 20% 20% 20% 20%;
      } 
    .planets img {
    width: 100%;
    height: auto;
    }
    footer {
    color: white;
    }
